.album {
  padding: 15px;
  background-color: #eee;
  margin-bottom: 15px;
}

.album h3 {
  margin-top: 5px;
}

.price {
  font-size: 1.5em;
}

.shopping-cart {
  padding: 15px;
  background-color: #f2f2f2;
}

.shopping-cart h3 {
  margin-top: 0px;
}
