.album {
  padding: 15px;
  background-color: #eee;
  margin-bottom: 15px;
}

.row {
  margin-top: 30px;
}

.album h3 {
  margin-top: 5px;
}

.price {
  font-size: 1.5em;
}

.info-box {
  padding: 15px;
  background-color: #f2f2f2;
}

.info-box h3 {
  margin-top: 0px;
}
